[2020-09-08 10:53] Shyamsj opened #1 "Okta PKCE Flow AuthSdk Error when using Multiple Tabs"
## Current behavior
Login to the application and open the application in-multiple tabs and logout from all the tabs and try to re login with any one of the tab we get this
Error : AuthSdkError: OAuth flow response state doesn't match request state
After refreshing the page it works normally
We are using Okta SDK "@okta/okta-angular": "^2.1.0"
## Expected behavior
We not get the AuthSdkError it sho

[2020-10-12 13:06] ilgiznurgaliev opened #6 "Getting "AuthSdkError: The app should not attempt to call authorize API on callback. Authorize flow is already in process. Use parseFromUrl() to receive tokens." error when trying to get access token and claims."
Hi.

When I'm trying to get access token and claims as described [here](https://developer.okta.com/docs/guides/sign-into-spa/angular/user-info/) to pass it to PHP back end I'm getting the error above.

Part of `app.module.ts`:
[code]

Part of `app.component.ts`:
[code]
There is no other components and routes, all content is in root (/) path.
Authentication works fine, but I'm unable to get access

[2020-10-12 17:56] swiftone commented on #6
@ilgiznurgaliev - Thanks for the report, we will take a look and get back to you as soon as we can.

[2020-10-12 17:57] aarongranick-okta commented on #6
See comments left on same issue here: https://github.com/okta/okta-oidc-js/issues/863#issuecomment-707232302

We can continue conversation here, this is the new repository for the `okta-angular` SDK.

[2020-10-12 18:48] ilgiznurgaliev commented on #6
Hi and thank you for your responses.

@aarongranick-okta, replying to your comment... As first solution you suggested:
_>> "Use routing and have dedicated route for the login callback. The logic on this route should call handleAuthentication and nothing else. It should not attempt to determine authentication status while processing the callback."_
But I already have a dedicated route for callback,

[2020-10-12 18:57] aarongranick-okta commented on #6
"didn't add any 'Login' button, because entire my application (root path) will be protected"

This may be the problem. The login callback route **must be an unprotected route**. Since the logic is occurring in the middle of an auth flow, the user is neither authenticated nor authenticated.  Try to navigate to `/login` directly. Does it redirect you to Okta for signin? If so, then this is definitel

[2020-10-12 19:16] ilgiznurgaliev commented on #6
When I try to navigate directly to /login (http://localhost:4200/login) it doesn't redirect me to to Okta, it just opens the application. Also checked in chrome's network tab of debug console. Only when I try to open root path (http://localhost:4200/) it redirects me to Okta (https://dev-xxxxx.okta.com/oauth2/default/v1/authorize...) and then redirects back (http://localhost:4200/login...).
Sorry,

[2020-10-12 19:29] ilgiznurgaliev commented on #6
It is a bit strange because according to [this](https://developer.okta.com/docs/guides/sign-into-spa/angular/require-authentication/) guide:
**To require authentication for all routes, use a loop to add `OktaAuthGuard` to every item in the `Routes` collection.**
[code]
There is nothing about that the login callback route **must be an unprotected route**.

[2020-10-12 20:48] aarongranick-okta commented on #6
@ilgiznurgaliev Thank you for bringing this issue with the documentation to our attention, we will correct this and be sure to mention that the callback must be an unprotected route.

Since navigating to `/login` does not perform the redirect, it sounds like your route config is not the issue. Are you able to debug the application to see what is calling the code which results in this error being t

[2020-10-12 21:19] aarongranick-okta commented on #6
@ilgiznurgaliev Are you receiving the error on the callback route ('/login') or on the app route ('/') ?  If the error is happening on the callback, make sure that none of the logic in app component runs (maybe add a `debugger;` line to app component). If the logic on app component is running on the callback route, that would cause the error.

If you are receiving the error on the app route (after

[2020-10-13 05:46] ilgiznurgaliev commented on #6
Hi, @aarongranick-okta. I'm receiving the error on the app route after authentication. `ngOnInit()` function I mentioned above is part of my app component. This function called once angular has initialized.
After authentication the url looks like below:
`http://localhost:4200/login?code=akNlsm...&state=pQwnP...`
I didn't know that this should be cleaned up by the callback component. There were no

[2020-10-13 06:08] aarongranick-okta commented on #6
@ilgiznurgaliev You say you are "receiving the error on the app route", "yet the url looks like" `http://localhost:4200/login?code=akNlsm...&state=pQwnP...`.

Based on router config, the URL (with path `/login`) should be loading the `OktaCallbackComponent`, so why would the error be received "on the app route"? It looks the problem may be with route config. According to the docs: https://angular.

[2020-10-13 06:40] ilgiznurgaliev commented on #6
Just tried to move /login route, so routes now looks like below:
[code]
But still getting the same error. Sorry for the misunderstanding, I said that I'm received the error in the app route because I'm trying to get access token within app component.
Could you please clarify should `OktaCallbackComponent` normaly redirect me to root path ('' route)? I don't really understand why I'm still on `/log

[2020-10-13 07:52] ilgiznurgaliev commented on #6
@aarongranick-okta Found in [documentation](https://github.com/okta/okta-angular):
`OktaCallbackComponent` - Handles the callback after the redirect. By default, it parses the tokens from the uri, stores them, then redirects to `/`.
The [component](https://github.com/okta/okta-angular/blob/master/src/okta/components/callback.component.ts) looks very simple:
[code]
Tried console.log('From Uri: ', t

[2020-10-13 13:07] ilgiznurgaliev commented on #6
@aarongranick-okta, I found finally where was my mistake. Angular didn't load `OktaCallbackComponent` because there was no `<router-outlet></router-outlet>` tag in app component. After adding it everything works as expected. `OktaCallbackComponent` now redirects me back to root path and I'm able to get access token and pass it to back end.

Thank you very much for your help and your patience.
With

[2020-10-13 22:07] #6 closed

[2020-10-29 23:46] Kalmanto opened #7 "Base href missing in 'referrerPath'"
OktaAuthGuard uses RouterStateSnapshot.url as "fromUri" to call "setFromUri"

`this.oktaAuth.setFromUri(state.url);`

OktaAuthService uses "window.location.origin + fromUri" to set "referrerPath"

`      if (fromUri.charAt(0) === '/') {
        fromUri = window.location.origin + fromUri;
      }
      sessionStorage.setItem('referrerPath', fromUri);`

If my app is deployed under "https://www.examp

[2020-10-30 00:22] aarongranick-okta commented on #7
@Kalmanto Thank you for the submission. We are aware of this issue and are working on a solution. In the meantime there is a workaround available described here: https://github.com/okta/okta-oidc-js/issues/745 Hopefully this will hep.

[2020-11-04 22:21] ArkasDev opened #8 "Access token is not stored when using the Okta-Signin-Widget lib"
I would like to implement the Okta custom login. I use the widget for authentication and it works fine. When I authenticate with the embedded widget, I also get the token. I can see the token in the network tab in the developer module, also I can see the user information directly after login. But as soon as I navigate to another page, either the access token is lost or it was never stored in the A

[2020-11-04 22:37] shuowu commented on #8
@ArkasDev We do suggest use `showSignInToGetTokens ` instead of `renderEl` to get tokens. Also, since version 5.0, the `showSignInToGetTokens` stops redirect, see details in [MIGRATING](https://github.com/okta/okta-signin-widget/blob/master/MIGRATING.md#migrating-from-4x-to-5x)

For storing the tokens, you will need to use the `oktaAuth` instance from `okta-angualr` to store tokens in the success

[2020-11-05 00:06] #8 closed

[2020-11-07 20:21] christiangoudreau opened #10 "$authenticationState never changes since new release"
After upating to the new release, authTokenManager is stuck on state pending after login with the okta login widget. I have to refresh the browser to get isAuthenticated = true and I'm using the OktaCallbackComponent.

Subscribing on authTokenManager directly instead of $authenticationState doesn't work either.

I'm using okta widget 4.5.2

Thanks,

[2020-11-10 00:40] aarongranick-okta commented on #10
@christiangoudreau Thanks for the submission. We will look into this right away.

Internal ref: OKTA-344860

[2020-11-10 00:43] aarongranick-okta commented on #10
@christiangoudreau Just want to clarify: -

It sounds like you are using an embedded widget and doing a login redirect flow. Is this correct?
Can you share the code of your "signin" component which is using the widget?

[2020-11-10 07:53] christiangoudreau commented on #10
Yes it is correct, here it is :
[code]

After successfully login in, we are redirected to this component by OktaCallbackComponent. It essentially show a loading animation until this.isAuthenticated is true. But when redirected after login the status is pending and isAuthenticated returns false. I have to refresh to have my isAuthenticated = true.
[code]

Thanks and best regards,

[2020-11-10 20:43] aarongranick-okta commented on #10
@christiangoudreau I have been able to reproduce the problem in one of our samples. I believe the problem is related to timing. Before the callback component redirects to your component, the tokens are stored and the internal auth state is updated, so `isAuthenticated` is true. This happens before `subscribe` is called on the `$authenticationState` Observable. One problem with Observables is that

[2020-11-11 02:06] christiangoudreau commented on #10
That would be great. I did have something similar to what you have at first with : this.isAuthenticated = await this.oktAuth.isAuthenticated(); and then subscribing to changes. But the observable nerver send future updates.

[2020-11-11 19:06] jraadt commented on #10
This is what I'm doing to detect when the user is authenticated:

[code]

[2020-11-11 19:21] jraadt opened #12 "Token renewal reloads entire app."
In the 2.x to 3.x migration doc under the `"Active" token renew` section it says `Now, tokens will be renewed in the background before they expire.`. I took that to mean _silently_ in the background. But 30 seconds before my current token is set to expire, it reloads my whole app, potentially losing data the user has not submitted yet, not to mention an undesirable user experience. When it does th

[2020-11-11 21:39] sbuscher commented on #10
@aarongranick-okta take a look at the [BehaviorSubject](https://rxjs-dev.firebaseapp.com/guide/subject#behaviorsubject) observable which emits the last known value to new subscribers. Changing $authenticationState to use a BehaviorSubject would be a good approach to resolve the issue.

[code]

[2020-11-11 21:43] aarongranick-okta commented on #10
@sbuscher Thanks! we have this planned for the next major version release.

[2020-11-12 04:37] jraadt commented on #12
My browser settings were blocking 3rd party cookies in Incognito mode (which I use for testing auth). I now see that the `okta-auth-js` docs say:

The auto renew code in Okta calls `token.getWithoutPrompt` which is one of those methods. Once I enable all cookies for incognito mode, everything renews silently in the background. The docs also say:

I would love to know more about how the engineers a

[2020-11-12 04:37] #12 closed

[2020-11-12 06:52] monitorjain opened #13 "Are you able to provide a pure JavaScript example to get username?"
Hi Okta Team,

Is there a possible way to access okta username or email via pure javascript (instead of JS frameworks like Angular? Your help with this is highly appreciated.

Best
Nik Jain

[2020-11-12 19:08] aarongranick-okta commented on #13
@monitorjain We have a pure javascript SDK, https://github.com/okta/okta-auth-js/ Our Angular SDK is built on top of this.

The okta-auth-js SDK has some samples as well: https://github.com/okta/okta-auth-js/tree/master/samples

To receive username and email, you should add "profile" and "email" to the list of scopes. These values will be properties of the "claims" object on the ID token.

[2020-11-12 19:19] aarongranick-okta commented on #12
@jraadt We are a developing a solution which enables "offline_access" scope and refresh tokens for SPA applications as currently exists for Web/Native app types. This solution should be available by the end of the year.

[2020-11-13 16:08] jraadt commented on #12
That's great @aarongranick-okta ! I'm looking forward to trying that out. Appreciate all the hard work.

[2020-11-17 19:02] MonuGoyath opened #14 "AuthApiError while login with Angular 10 and Okta v3"
After upgrading to v3, I get the 401 error from `/token` endpoint. When gone through documentation - found out the problem is "invalid_client: The specified client_id wasn't found.".

But the same whole setup works with v1.2.2, while I get the error for v3.0.1.

First I enter credentials and then it gets redirect to '/implicit/callback' route and there is OktaCallbackComponent to deal.

Finally I

[2020-11-17 19:07] swiftone commented on #14
@MonuGoyath - Thanks for the report.  Can you confirm that your app is a "spa" type in the Okta admin console, rather than a "Web" type?   We've had reports similar to yours where that was the source of the problem.

If you do have a web type, you might be able to fix the problem by passing `pkce: false` in your config, but that is a bit of a hack.  The better response is to use a client_id that i

[2020-11-18 14:22] MonuGoyath commented on #14
@swiftone , Thanks for your quick response.

Yeah my app is of type Web & when i tried with disabling pkce - it works fine.

But, do I need to be concerned as I couldn't change the type of app & I would like to go ahead with Web type(will there be any problem in future with app type of Web)?

[2020-11-18 18:16] swiftone commented on #14
My recommendation would be to change to app type of SPA - while I'm not aware of any current expected problems with what you are doing outside of the PKCE flow, this is basically undefined behavior.  I cannot promise anything about the future.

[2020-11-18 18:16] swiftone commented on #14
Closing issue as resolved - if problems reappear, feel free to reopen or create a new issue and reference this one.

[2020-11-18 18:16] #14 closed

[2020-12-16 20:27] alsoicode opened #16 "OktaSignIn helpLinks customization not working as expected"
Hello,

When specifying a `forgotPassword` custom URL according to: https://developer.okta.com/docs/guides/style-the-widget/style-self-hosted/

[code]

The resulting URL upon inspection is simply: `#`. What am I doing wrong?

[2020-12-16 20:43] alsoicode commented on #13
@monitorjain Here's a TypeScript example, but hopefully it will be enough to demonstrate. Depending on the claims you're sending in, you might need to access different keys:

[code]

[2020-12-16 21:36] shuowu commented on #16
@alsoicode Your config should work, based on the widget implementation, it looks like the redirection is handled by the `click` event instead of injecting the URL in the dom.

here is the implementation if you are interested: https://github.com/okta/okta-signin-widget/blob/master/src/views/shared/Footer.js#L89

[2020-12-18 22:50] shuowu commented on #10
@christiangoudreau I think the cause of no authState update is due to no explicit calls have been triggered to update the authState once login success in the widget.

Can you follow the [custom login sample](https://github.com/okta/samples-js-angular/blob/master/custom-login/src/app/login/login.component.ts#L65) to call the [handleLoginRedirect](https://github.com/okta/okta-auth-js#handleloginredi

[2021-01-11 19:39] christiangoudreau commented on #10
That did the trick. Thanks for pointing that out to me!

[2021-01-15 01:27] thuannh1027 opened #18 "Okta Angular can't create a new session when in incognito mode"
Everything works normally but I can't create SSO session when using incognito mode. Can anyone tell me why and how could I solve it?

I'm using the latest version of okta-angular and okta-signin-widget

[2021-01-15 16:54] oleksandrpravosudko-okta commented on #18
Thanks for reaching out @thuannh1027

A small clarification - are you having multiple apps under the same domain which fail to provide SSO experience under incognito? (i.e. what are the symptoms of SSO session not being created).

[2021-01-15 17:06] aarongranick-okta commented on #18
@thuannh1027 A couple questions

- what OS / browser are you using?
- are you able to login directly at your org's Okta url?

[2021-01-15 17:22] thuannh1027 commented on #18
I have a Salesforce app and an Angular app. Both are using Okta as an identity provider. Without incognito mode, after login successfully, I could use /session/me to check the session and also redirect to Salesforce app by embedded link.

However, in incognito mode, when trying hit /session/me, it returns 404 and I cant redirect to Salesforce app. I did receive tokens from Okta but not sessionToke

[2021-01-18 08:55] oleksandrpravosudko-okta commented on #18
Thanks for the details.

This might be happening b/c of cookie policy setting:
<img width="683" alt="Screenshot 2021-01-18 at 10 38 02" src="https://user-images.githubusercontent.com/71440851/104892059-6593cf80-597a-11eb-851f-794940ba08e3.png">

If that is the case, session cookie 'sid' is not set for Okta tenant domain (see KB [post](https://support.okta.com/help/s/article/api-v1-sessions-me-endp

[2021-02-07 06:58] thenetimp opened #23 "Fails to install on M1 BigSur MacOS install...."
% npm install okta/okta-angular
npm ERR! prepareGitDep 1>
npm ERR! prepareGitDep > fsevents@1.2.13 install /Users/username/.npm/_cacache/tmp/git-clone-86571535/node_modules/fsevents
npm ERR! prepareGitDep > node install.js
npm ERR! prepareGitDep
npm ERR! prepareGitDep   SOLINK_MODULE(target) Release/.node
npm ERR! prepareGitDep   CXX(target) Release/obj.target/fse/fsevents.o
npm ERR! prepareGitDep

[2021-02-07 17:46] aarongranick-okta commented on #23
[code]
It appearas `okta-angular` requires `yarn` to be installed

[2021-02-17 03:02] vladzz opened #25 "StateToken, requestUri -> SignInWidget Bootstrapping"
When we upgraded okta-angular to package greater then 2.2 bootstraping the signin widget via Statetoken and requestUri broke the callback to our application. Also the widget was asking for additional settings like clientId. The vanilla javascript lib doesn't require these when bootstrapping with stateToken and RequestUri and works as intended.

We are now unable to update our dependencies until th

[2021-02-17 05:58] arvindkrishnakumar-okta commented on #25
Thanks for reporting this.

@swiftone / @shuowu-okta can you help here?

[2021-02-17 16:57] swiftone commented on #25
@vladzz - Sorry to hear you're having troubles, however what you report hasn't been mentioned by others, so I suspect it can be corrected by configuration.

Have you followed the steps outlined in our Migration Guide?  ( https://github.com/okta/okta-angular/blob/master/MIGRATING.md#from-version-2x-to-3x )

[2021-02-17 17:06] aarongranick-okta commented on #25
@vladzz It sounds like you are doing [a non-OIDC flow](https://github.com/okta/okta-signin-widget#non-oidc-applications). How are you acquiring a stateToken?

[2021-02-17 21:13] swiftone commented on #25
@vladzz - is this the same issue you also reported on the signin-widget?  ( https://github.com/okta/okta-signin-widget/issues/1671 )

[2021-02-17 23:13] vladzz commented on #25
Hi @swiftone it is the same issue.

[2021-02-25 13:39] baljinder-inmarsat opened #26 "token renewal works only with 2 mins set (expireEarlySeconds)"
Hey Okta team,

I am trying to get the tokens to autorenew  but for some bizarre reason it only works if the tokenmanger, expireEarlySeconds, config is less than to 2 minutes.

e.g
<code>  tokenManager: {
    autoRenew: true,
    expireEarlySeconds: 720,
    storageKey: OKTA_TOKEN_KEY
  } as any
</code>
will throw error: OAuthError: The client specified not to prompt, but the user is not logged in

[2021-02-25 15:01] oleksandrpravosudko-okta commented on #26
Hi @baljinder-inmarsat, thanks for reaching out.

A few questions to help with repro steps:
* are you using PKCE-enabled flow?
* is there a custom token lifetime policy set for access token?
* are you using refresh tokens? (requires `offline_access` scope)
* which SDK and Angular version you are using?

[2021-02-25 15:29] baljinder-inmarsat commented on #26
@oleksandrpravosudko-okta ,Thanks for the prompt Reply.

are you using PKCE-enabled flow? yes
is there a custom token lifetime policy set for access token? I cannot see it in Okta but if I decode the token it has an expiry for 15 mins from when it was issued.
are you using refresh tokens? (requires offline_access scope) no
which SDK and Angular version you are using? "@okta/okta-angular": "^3.0.1"

[2021-02-25 16:42] oleksandrpravosudko-okta commented on #26
Thanks @baljinder-inmarsat.
One more thing to confirm - does your Okta session [lifetime](https://help.okta.com/en/prod/Content/Topics/Security/healthinsight/session-lifetime.htm) exceed 2 minutes?

[2021-02-25 17:14] baljinder-inmarsat commented on #26
@oleksandrpravosudko-okta many thanks. There was a test session rule added.

[2021-03-01 19:19] swiftone commented on #7
Support for base href was added/fixed in okta-angular 3.0.1 - https://github.com/okta/okta-angular/releases/tag/okta-angular-3.0.1

Please let us know if this does not address your issue.

[2021-03-01 19:19] #7 closed

[2021-03-02 05:11] #25 closed

[2021-03-03 14:50] vigneshshankaradevan opened #27 "There is no typings path for RouterOutlet in ../node_modules/@okta/okta-angular/bundles/okta-angular.umd.js"
Steps to reproduce:
1. ng new OktaSample
2. cd OktaSample
3. npm install --save @okta/okta-angular
4. in package.json
    `"scripts": {
                  "test": "ngcc --properties main && ng test" `
5. npm ci
6. npm run test

Detail Error :

Error: Error on worker #2: Error: There is no typings path for RouterOutlet in  ../angular-test/OktaSample/node_modules/@okta/okta-angular/bundles/okta-angul

[2021-03-03 16:49] swiftone commented on #27
@vigneshshankaradevan - Thanks for the report, I'll pass this by one of our Angular folks.  I'm not clear that this isn't something you would need to add - okta-angular is a toolkit to write your applications, not an application, and thus doesn't populate RouterOutlet, but as I said, my Angular knowledge is very limited and I'll check with the team.

[2021-03-03 17:33] aarongranick-okta commented on #27
@vigneshshankaradevan The `RouterOutlet` type is not owned by `okta-auth-js`, it is part of angular: https://angular.io/api/router/RouterOutlet

You may need to add the angular types to your project: https://www.npmjs.com/package/@types/angular

[2021-03-03 17:34] atotalnoob commented on #27
@swiftone But you have a callback component that your docs say to mount on a router https://github.com/okta/okta-angular#oktacallbackcomponent

Which means it will be put into a `RouterOutlet` and cause this error.

We also tried `ngcc --properties es2015 browser module main --first-only --create-ivy-entry-points && ng test`

[2021-03-03 18:03] swiftone commented on #27
The key part there being "Will be put into a RouterOutlet".  "will be", not "are". You have to do the step of mapping them to a router.  The types for the callback component should be provided for you to use when you do so.

The reproduction steps you've listed have not created a working application, even if the error you are seeing didn't happen, and the error you are seeing is because the applic

[2021-03-03 18:15] atotalnoob commented on #27
Having the credentials there are pointless, since it does not matter since it **cannot build**. We have an application with these details properly populated.

Use the below zipped reproducer and run `npm ci && npm run test`
[okta-reproducer.zip](https://github.com/okta/okta-angular/files/6078198/okta-reproducer.zip)

[2021-03-03 19:29] swiftone commented on #27
I'm not sure what you mean about "credentials", since I was talking about the Router configuration.

However, running your code I can see the same error.  I don't know what it refers to, since, as pointed out above, `RouterOutlet` is not ours.

I'll file a ticket for the team to take a look, this is the first such error we've had reported.

[2021-03-03 19:34] swiftone commented on #27
Internal Ref: OKTA-375466

[2021-03-03 19:41] vigneshshankaradevan commented on #27
I have updated npm to 7.6.0 (`npm i -g npm@7.6.0`) and  replaced `"test": "ngcc --properties main && ng test"` with  `"ngcc --properties es2015 browser module main && ng test"`   now everything worked fine for me

[2021-03-03 19:46] swiftone commented on #27
Great, glad it worked out, thanks for the update.

[2021-03-03 19:46] #27 closed

[2021-03-03 20:31] atotalnoob commented on #27
There is still an issue, we just figured out a workaround...

We clearly demonstrated a bug.

[2021-03-04 08:53] #26 closed

[2021-03-29 22:03] mraible opened #28 "Don't use await in constructor example"
In the `MyComponent` example, the following is recommended:

[code]

When I try this in IntelliJ IDEA, it warns me that `await` won't work in a constructor.

<img width="918" alt="Screen Shot 2021-03-29 at 3 57 10 PM" src="https://user-images.githubusercontent.com/17892/112905720-24b9e480-90a8-11eb-9031-695a9c6c8a9b.png">

Changing it to the following seems like it might be better (note the added

[2021-03-30 13:48] mraible opened #29 "Sign-In Widget doesn't work out-of-the-box when using Angular strict mode"
When I create an Angular 11 app in strict-mode, importing the Sign-In Widget doesn't work.

[code]

If I create a `src/sign-in-widget.d.ts` file with the following contents, it works.

[code]

I'm creating this issue so we can document this problem in the README. Or better yet, fix it!

[2021-03-30 14:18] denysoblohin-okta commented on #29
Thanks for submitting this issue.
PR for adding declaration file for `okta-signin-widget` is under review, will be available soon.
https://github.com/okta/okta-signin-widget/pull/1740

[2021-03-30 14:39] mraible commented on #29
FWIW, I discovered this issue while updating [our blog post on Angular Login](https://github.com/oktadeveloper/okta-blog/pull/610).

[2021-03-30 15:54] bryanapellanes-okta commented on #28
@mraible,
Thanks for submitting this!  I've placed an item on the backlog for prioritization; our developers will review.  We will comment here when there is more information to share.

[2021-04-06 11:59] denysoblohin-okta commented on #28
@mraible Readme has been updated. Thanks.

[2021-04-06 11:59] #28 closed

[2021-04-14 14:50] xmlking opened #34 "getAccessToken/getIdToken return single character not a valid JWT"
after SSO login with Okta I am
`this.oktaAuth.getAccessToken()` is printed as ‘A’ and `IDToken` as ‘g’ , only a single character return. I expected valid JWT,
The `this.oktaAuth.getUser()` call works fine

![image](https://user-images.githubusercontent.com/627951/114730456-bc990e80-9cf5-11eb-87aa-442798d54658.png)

more details here:
https://github.com/akveo/nebular/issues/2071#issuecomment-818864

[2021-04-14 14:51] xmlking commented on #34
this is how I am using
https://github.com/xmlking/yeti/blob/develop/libs/core/src/lib/services/okta-auth.strategy.ts

[2021-04-14 14:55] arvindkrishnakumar-okta commented on #34
Thanks for posting!

@aarongranick-okta / @shuowu-okta can you help take a look?

[2021-04-15 02:01] xmlking commented on #34
Tanks Okta team. you can reproduce the above issue by cloning `github.com:xmlking/yeti` and run `nx serve webapp` then cline 3rd Icon in `http://localhost:4200/home/login` to start SSO

[2021-04-15 02:03] xmlking commented on #34
I also added google as an external IDP to enable the social login option, but I don't see login-with-google button
![image](https://user-images.githubusercontent.com/627951/114803322-17f9e980-9d54-11eb-8d73-bf26c7dd63c0.png)

[2021-04-16 17:37] justinwilaby opened #35 "Supported Angular Versions are out-of-date"
It appears that the Okta-Angular documentation shows compatibility with out-of-date Angular versions which are no longer supported by the Angular team.

This causes confusion since it leads engineers to assume they must use an old, outdated and no longer supported version of Angular in order to use this library. The line I am referring to is:

Angular 9 will no longer be supported in Aug, 2021 and

[2021-04-16 18:22] arvindkrishnakumar-okta commented on #35
Thanks for posting!

@aarongranick-okta can you help here?

[2021-04-20 14:35] Bigless27 commented on #35
@justinwilaby I'm facing the same issue with Angular 10 upgrade with OKTA.

[2021-04-20 15:44] justinwilaby commented on #35
This issue is meant only to clarify the "officially supported" versions of Angular in the Okta-Angular documentation.

The reason is that if new versions of Angular are not supported, this library is a non-starter and an alternative must be found.

The [devDependencies](https://github.com/okta/okta-angular/blob/bdf7d82811385231ee45670898bc13d76a6e043e/package.json#L48) show Angular 7.x which is 2

[2021-04-20 16:05] mraible commented on #35
This is not true. I've used Okta Angular with Angular 11 without any issues. For example:

[code]

This reports "found 14 moderate severity vulnerabilities" and they're all from the Angular CLI (and ssri), not from Okta.

Running `npm audit fix` fixes them all. `ng serve` works and I'm able to log in.

![Screen Shot 2021-04-20 at 10 02 53 AM](https://user-images.githubusercontent.com/17892/1154285

[2021-04-20 18:24] justinwilaby commented on #35
@mraible - This is exactly what I'm asking for in this defect. Clarification. If Angular 10, 11, 12 works, the docs should reflect this so as to avoid misleading instructions.

Also, with regards to vulnerabilities in build tools (Angular-Cli), some CI/CD pipelines execute this code on internal networks. If sandboxed VMs with limited network access are not used for builds, there is still a signifi

[2021-04-20 18:26] mraible commented on #35
@justinwilaby Does this help? https://github.com/okta/okta-angular/issues/35

[2021-04-30 23:38] jakehockey10 opened #38 "Custom login and password reset forms"
This is just a question, not an issue with the library.  My company would like to use a 3rd party auth provider, like Okta, rather than storing the passwords in an encrypted fashion ourselves.  But my company would also like to have login and password reset UIs that are part of our angular application.  Is it possible to sign in/reset password with a custom form, and not using a redirect flow or a

[2021-04-30 23:52] jakehockey10 commented on #38
It looks like the Service class extends the `OktaAuth` object that has a `signInWithCredentials` method that seems to do what I want.  Also, there is a `forgotPassword` method on `OktaAuth`.  Is it possible to reset the password without SMS or Call involved?

[2021-05-03 16:40] shuowu commented on #38
@jakehockey10 You found the right place, okta-angular depends on the core `okta-auth-js` SDK, which supports making calls to Okta's authn API for authentications and forgot password usage. You can explore [okta-auth-js API reference](https://github.com/okta/okta-auth-js#api-reference) for detail usages.

References:
[Authentication API](https://developer.okta.com/docs/reference/api/authn/)
[Authn

[2021-05-04 09:13] oleksandrpravosudko-okta commented on #34
Thanks for sharing the repro environment @xmlking.

It looks like token values are getting truncated by `forkJoin` statement - it returns only last emitted value(last character for the token strings).

Can you please post the relevant part of your Okta-hosted SIW configuration and SIW version from the customization page?
Did you specify `idps` config option?
[code]

[2021-05-04 23:03] jakehockey10 commented on #38
Upon further inspection, it does not look like forgotPassword allows you to perform the operation without a redirect.  Is this true?  There isn't a way for me to send a password change request, having the user provide their current password as well as their new password and new password confirmation?

[2021-05-04 23:57] xmlking commented on #34
I don't know what `Okta-hosted SIW configuration `  means.
 I am using the free trial and I haven't setup  any customization page
![image](https://user-images.githubusercontent.com/627951/117083493-ae894d00-acf9-11eb-9dec-35da33651f45.png)

[2021-05-05 06:34] oleksandrpravosudko-okta commented on #34
The sign in UI on your org's [page](https://dev-13501486.okta.com/) is referred to as Okta-hosted [sign-in widget](https://github.com/okta/okta-signin-widget).
It can be [customized](https://developer.okta.com/docs/guides/style-the-widget/style-okta-hosted/) through the admin [page](https://dev-13501486-admin.okta.com/admin/settings/customizableSignIn#tab-customizable-sign-in).

[2021-05-07 17:55] jakehockey10 commented on #38
@shuowu  I would also like to know how to perform self-service registration with my own UI.  Is this possible?  I can't find any documentation in the API for the javascript library.

[2021-05-07 18:38] shuowu commented on #38
@jakehockey10 Afaik, it's not supported in the client SDKs. You still can build it against the [Users API](https://github.com/okta/okta-angular/issues/38), or use our [node management sdk](https://github.com/okta/okta-sdk-nodejs).

[2021-05-07 18:45] jakehockey10 commented on #38
@shuowu thanks for the response. Just to make sure I'm looking at the right page, could you fix the users api link above?

[2021-05-07 19:52] shuowu commented on #38
@jakehockey10 sorry, my bad... updated!

[2021-05-13 21:54] dexyppdf opened #41 "response type is not supported by the authorization server"
I am getting "The response type is not supported by the authorization server. Configured response types id_token token ." after callback route. Please help me on this

[2021-05-14 02:14] bryanapellanes-okta commented on #41
@dexyppdf,
Thanks for reaching out!  I'll bring this to the attention of our Javascript developers and someone will follow up with you here.

Thanks for using Okta!

[2021-05-14 12:20] bryanapellanes-okta commented on #41
Internal Ref: OKTA-395687

[2021-05-14 12:26] shuowu commented on #41
@dexyppdf Can you share your app's configuration? Here is config details per [responseType](https://github.com/okta/okta-auth-js#responsetype).

[2021-06-14 10:20] oleksandrpravosudko-okta commented on #34
Going to close this issue. @xmlking feel free to re-open/open new issue in case sign-in flow doesn't work in expected way.

[2021-06-14 10:20] #34 closed

[2021-06-16 20:57] shuowu commented on #13
You can also use the [getUser](https://github.com/okta/okta-auth-js#getuser) api from okta-auth-js.

[2021-06-16 20:57] #13 closed

[2021-06-16 21:00] #10 closed

[2021-06-16 21:08] shuowu commented on #18
@thuannh1027 Does @oleksandrpravosudko-okta 's comment help?

[2021-06-16 21:16] #23 closed

[2021-06-16 21:18] #35 closed

[2021-06-16 21:22] shuowu commented on #1
@Shyamsj Can you try the latest version 3.1.0 to see if the issue still exist? See the migration guide [here](https://github.com/okta/okta-angular/blob/master/MIGRATING.md#from-version-2x-to-3x)

[2021-06-16 21:23] shuowu commented on #38
@jakehockey10 Close the issue for now, feel free to reopen the issue if you have further question.

[2021-06-16 21:23] #38 closed

[2021-06-16 21:25] #16 closed

[2021-06-17 08:57] openbridge-james commented on #23
I hadn't noticed @aarongranick-okta's original response.   Seems kind of bad that you force a user to use one package manager vs another.  I don't have yarn on my machine cause I don't see any advantage over npm.  I certainly am not going to install it just to test out a possible solution.

[2021-06-17 14:00] mraible commented on #23
Okta Angular doesn't require Yarn. It works just fine with npm. I just tried it yesterday. However, I'm on a MacBook Pro, not an M1.

[2021-06-30 08:53] oleksandrpravosudko-okta commented on #41
@dexyppdf do you have `Allow ID/Access Token with implicit grant type` enabled in your OIDC app configuration?

[2021-07-01 17:15] niskah-energies opened #46 "authStateManager subscription not work using signInWithCredentials()"
Hi,

I'm using `signInWithCredentials()` function to sign to Okta, signing is working but `authstate` not change.

[code]

[code]

even if I use `$authenticationState`

[code]

I'm doing anything wrong ??

[2021-07-01 17:43] aarongranick-okta commented on #46
@niskah-energies `signinWithCredentials` resolves with an AuthTransaction object. The user is not yet fully authenticated at this point. The transaction contains a sessionToken which can be used to begin a user session. This can be used in a redirect flow `setCookieAndRedirect` or without redirect `getWithoutPrompt`. When the tokens are stored using `setTokens`, this will update the authentication

[2021-07-13 06:59] martyngroberts opened #47 "autoRenew is no longer working in latest Angular SDK 3.2.0"
autoRenew is no longer working in latest version of Okta Angular SDK 3.2.0 which references okta-auth-js 5.2.1.

Steps to recreate;

1. unauthenticated user browses to Angular app
2. Browser redirects to Okta sign-in page
3. User logs in with username and password
4. ID token, access token and refresh token returned
5. Access token lifetime set to 5 mins
6. User waits 5 mins
9. Network trace shows

[2021-07-13 07:17] oleksandrpravosudko-okta commented on #47
Thanks for reporting this @martyngroberts - we will have this investigated and fixed.
Internal Ref: OKTA-411446

[2021-07-13 12:54] oleksandrpravosudko-okta commented on #47
It looks like token expiration handler is not set during login redirect - https://github.com/okta/okta-angular/pull/48 (WIP) should address this issue.

[2021-07-14 05:21] martyngroberts opened #49 "Sign-out no longer triggers consistently on all open tabs to end session"
It is observed that if a user has two authenticated sessions running on separate tabs for an app integrated with Angular SDK (3.2.0), logging out will not consistently end the session correctly on the other tab.    On some occasions the other tab will not detect the logout and on other occasions the page reload happens quicker than the first tab completing logout and access token is actually renew

[2021-07-14 07:51] oleksandrpravosudko-okta commented on #49
Thanks for the repro steps and a demo @martyngroberts.

There is a chance this issue has a same root cause as https://github.com/okta/okta-angular/issues/47 as cross-tab storage sync is enabled by [token service](https://github.com/okta/okta-auth-js/blob/master/lib/services/TokenService.ts#L87) which does not currently start during login redirect.

Internal Ref: OKTA-412078

[2021-07-20 21:05] shuowu commented on #47
@martyngroberts The fix is release in version 3.2.1. Closing the issue, feel free to re-open it if the issue still exists.

[2021-07-20 21:05] #47 closed

[2021-07-21 11:48] martyngroberts commented on #49
hi @oleksandrpravosudko-okta i can confirm the issue still exists in v3.2.1

I have recorded the behaviour in this video - https://www.loom.com/share/4e1f8e6e538b4503ad61343e90b318bc

The key thing to observe is that whilst a initiate logout on one tab, you will see the first tab carries out a refresh of the token and hence both tabs remain in authenticated state.   This can be replicated with fre

[2021-07-30 20:37] tyfrth commented on #49
FWIW I cannot reproduce this behavior in 3.2.1 nor 3.2.2 using the okta-hosted-login sample: https://github.com/okta/samples-js-angular/tree/master/okta-hosted-login All tokens in local storage are cleared on logout across all tabs.

[2021-08-02 09:49] oleksandrpravosudko-okta commented on #41
Closing this issue - @dexyppdf feel free to reopen in case it is still relevant.

[2021-08-02 09:49] #41 closed

[2021-08-04 13:24] oleksandrpravosudko-okta commented on #49
I was able to reproduce this issue with 3.2.2 - thanks for catching this @martyngroberts!

A permanent fix for this issue will likely require a breaking change in our SDK(s) - we intend to put it into next major release.
For now it is recommended to use a custom [`onAuthRequired`](https://github.com/okta/okta-angular#okta_config) function as a workaround:

[code]

[2021-08-06 21:07] kpeters-cbsi opened #55 "Typo in README.md"
## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
in README.md there is a broken link to "@okta/okta-auth-jks"

## Expected behavior
Link should be "@okta/okta-auth-js"

## Minimal reproduction of the problem with instructions

### Steps to reproduce:
1. Read README.md
2. Notice typo under `OktaAuthService`
3. ??
4. Profit!

## Extra inf

[2021-08-07 03:05] aarongranick-okta commented on #55
internal ref: OKTA-418644

[2021-09-07 13:11] mpitsenberger opened #61 "Could not find a declaration file for module @okta/okta-signin-widget"
## I'm submitting a:
- [X] Bug report: Could not find a declaration file for module @okta/okta-signin-widget

## Current behavior
We are unable to use the OKTA sign in widget in our angular application

## Expected behavior
The okta sign widget loads correctly in our angular application

## Minimal reproduction of the problem with instructions
[Sending Screen Shots]

## Extra information about the

[2021-09-07 14:27] shuowu commented on #61
@mpitsenberger The current [@okta/okta-signin-widget](https://github.com/okta/okta-signin-widget) module is not providing types. Can you set a loose type rule to bypass the type errors?

[2021-09-07 15:02] mpitsenberger commented on #61
Thanks we were able resolve the issue

[2021-09-07 15:02] #61 closed

[2021-09-17 21:55] cesargalindo opened #67 ""loginHint" is no longer supported in latest Okta Angular SDK 3.2.0"
I updated my Angular application to use the latest Okta Angular SDK release. "@okta/okta-angular": "3.2.2",
It appears the "loginHint" option is no longer supported in signInWithRedirect method:

await this.oktaAuth.signInWithRedirect({ loginHint: 'user123.somestring'});

Should loginHint be supported in the latest Okta Angular release?
Note, it is supported and works fine in "@okta/okta-angular":

[2021-09-20 14:47] oleksandrpravosudko-okta commented on #67
Thanks for the report @cesargalindo - we will investigate this.

[2021-09-20 17:54] #55 closed

[2021-09-23 00:16] mraible opened #69 "Creating an Angular app with strict mode requires optional changing for $authState"
## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

The migrating to 4.0 guide recommends:

[code]

However, when you create an app with strict mode, it seems to require optional chaining.

[code]

## Expected behavior

The migrating guide should use optional chaining or the SDK should be fixed so it's not required.

## Minimal reproducti

[2021-09-23 13:11] shuowu commented on #69
Internal Ref: OKTA-430814

[2021-10-05 08:04] oleksandrpravosudko-okta commented on #67
Internal Ref: OKTA-432799

[2021-10-05 22:34] nxtwave opened #71 "TypeError: Cannot read properties of undefined (reading '_oktaUserAgent')"
## I'm submitting a:

- [ x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
When the app.module is initialized, it displays the error message: "TypeError: Cannot read properties of undefined (reading '_oktaUserAgent')" The browser page is blank, and the error displays in the browser console.

## Expected behavior
The app should initialize. I was able to use okta

[2021-10-06 04:22] DavidAaronOrtiz opened #72 "Okta angular can’t compile with “ng build –prod”"
## I'm submitting a:

- [X] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
Running "ng build --prod" causes the following error:
ERROR in Can’t resolve all parameters for OktaAuthGuard in //node_modules/@okta/okta-angular/okta-angular.d.ts: ([object Object], ?, [object Object]).
Can’t resolve all parameters for OktaAuthStateService in //node_modules/@okta/okta-a

[2021-10-06 09:31] oleksandrpravosudko-okta commented on #72
Thanks for report @DavidAaronOrtiz.
Internal Ref: OKTA-435165

[2021-10-06 13:17] nxtwave commented on #71
Wow, I missed those brackets, thank you.

[2021-10-06 13:17] #71 closed

[2021-10-06 13:23] shuowu commented on #72
@DavidAaronOrtiz It's probably because of the typescript version from Angular 8 cannot compatible with types in the newly published version. Can you try upgrade the angular version or use older version of okta-angular as a workaround?

Also, here is our [angular samples repo](https://github.com/okta/samples-js-angular), I just verified the build script works well there.

[2021-10-20 19:37] monasterx3 opened #73 "Uncaught In Promise Error in Console log but Redirect from Okta Login is working correctly"
## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

I am seeing the following error in console log after I log into Application. The redirect and implementation is working correctly but I would like to find a way to remove this error.

Okta Route Login:
`  {
    path: 'login/callback',
    component: OktaCallbackComponent,
  },`

Implemen

[2021-10-20 21:15] monasterx3 commented on #73
@mraible thank you for the quick response. I have the okta configs pointing to /login/callback
`   redirectUri: 'http://localhost:4200/login/callback',`

[2021-10-20 21:29] mraible commented on #73
@barbozaa Yes, your redirect in the Okta Admin Console have to match what you have in your app.

[2021-10-21 00:14] barbozaa commented on #73
Thank you @mraible

[2021-10-21 01:25] #73 closed, assigned to nobody

[2021-11-04 13:39] shuowu commented on #67
@cesargalindo The issue has been fixed in @okta/okta-auth-js v5.7.0 (one of @okta/okta-angular 's dependency).

Try `upgrade` @okta/okta-angular or reinstall the `@okta/okta-angular@3.2.2`  should resolve the issue.

[2021-11-04 15:53] shuowu commented on #72
@DavidAaronOrtiz The issue should be fixed in [version 4.1.1](https://github.com/okta/okta-angular/releases/tag/okta-angular-4.1.1)

Closing this issue, feel free to reopen it if the problem still exist.

[2021-11-08 18:05] mraible opened #76 "CSS Warnings when embedding the Sign-In Widget in an Angular 13 app"
## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

This might be more of a Sign-In Widget issue, but it happens in an Angular 13 project, so I'm entering it here.

If you embed the Sign-In Widget in an Angular 13 project, it spits out warnings when you run `npm run build`. It also causes a pretty large bundle.

[code]

Found when upgradi

[2021-11-08 19:55] monde commented on #76
@mraible I've filed a bug with the client SDKs team to triage for work. Thanks for all of the details.

Okta internal reference: https://oktainc.atlassian.net/browse/OKTA-444949

[2021-11-15 19:46] polklabs opened #77 "Client specified not to prompt and blank page after session expire"
## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior

When opening app which requires okta authentication the user is not redirected to sign in. They just see a blank page with nothing.
In the console is the error: `The client specified not to prompt, but the user is not logged in`
To trigger redirect you have to refresh the page (opening d

[2021-11-15 22:59] jaredperreault-okta commented on #77
@polklabs Do you mind providing a code snippet that causes this behavior?

[2021-11-15 23:15] polklabs commented on #77
@jaredperreault-okta Can't really provide too much code at the moment. But here are some potentially relevant snippets. Maybe I missed something upgrading from version 3.x to 4.x?

Almost all site routes are protected, only routes that aren't protected are /logout and /implicit/callback
[code]

App.module.ts
[code]

[2021-11-16 10:53] gvdmierop commented on #72
@shuowu
I'm experiencing the following error running 'ng build --prod' using version 4.1.1 on an Angular 7 project.

Can’t resolve all parameters for OktaCallbackComponent in //node_modules/@okta/okta-angular/okta-angular.d.ts: ([object Object], ?, [object Object]).

It's also one of the errors mentioned by @DavidAaronOrtiz so I think this issue is not entirely fixed in version 4.1.1.

Can you loo

[2021-11-16 11:11] yamanch123 commented on #72
I am also getting the same error using version 4.1.1 on an Angular 8 project.

[2021-11-16 11:15] yamanch123 commented on #72
I am also getting the same error using version 4.1.1 on an Angular 8 project.
Can't resolve all parameters for OktaAuthGuard in //node_modules/@okta/okta-angular/okta-angular.d.ts: ([object Object], ?, [object Object]).

[2021-11-16 14:16] jaredperreault-okta commented on #77
Thanks for reporting this, we'll look into it

Internal Ref: OKTA-447151

[2021-11-16 16:34] icatchx22i commented on #77
Hi. Piggie backing off of this, I have experienced the same in multiple Production applications as well. Here is my ticket on the Okta board for reference: https://devforum.okta.com/t/users-are-not-redirected-to-log-in-widget-when-returning-to-page-after-a-token-timeout/17830

@jaredperreault-okta I have also opened a support ticket in Okta Support (#01235377) if it helps!

[2021-11-16 17:07] jaredperreault-okta commented on #77
@icatchx22i What version of `angular` are you using? And did you also experience this issue after migrating to version `4.x` of `okta-angular`?

[2021-11-16 17:11] icatchx22i commented on #77
We're using Angular 12 and yes still experiencing after upgrading to the latest okta-angular and okta-auth-js:
    "@okta/okta-angular": "^4.1.0",
    "@okta/okta-auth-js": "^5.6.0"

Our base route looks like this:
  { path: 'implicit/callback', component: OktaCallbackComponent },
  { path: '', canActivate: [OktaAuthGuard], loadChildren: () => import('../../components/my-forms/my-forms.module').th

[2021-11-16 20:06] gvdmierop commented on #72
Downgrading to 3.2.2 fixed it for now.

[2021-11-16 21:01] icatchx22i commented on #77
FYI: I also tested the routes with canLoad instead of canActivate but that did not help

[2021-11-17 19:58] sislex commented on #61
how do you solve it?

[2021-11-18 00:08] mraible commented on #61
Create a `src/typings.d.ts` file with the following:

[code]

https://github.com/okta-samples/okta-angular-sample/blob/main/src/typings.d.ts

[2021-11-23 12:27] gvdmierop commented on #72
Unfortunately, I had to downgrade to 2.1.0.
3.2.2 version was built succesfully, but at runtime it gave me the error 'Uncaught TypeError: Super expression must either be null or a function'

Still, I would like to use a more recent version, as version 2.1.0 does not work with refresh token mechanisms yet.

Any news on a possible fix for this?

Thank you.

[2021-11-29 18:25] shuowu commented on #72
@gvdmierop @yamanch123 @DavidAaronOrtiz A fix PR is created [here](https://github.com/okta/okta-angular/pull/79), can you verify against that PR branch to see if the fix works? (The PR is a bit verbose, since we want to create test apps cross different versions to verify the code change.)

[2021-11-30 14:02] gvdmierop commented on #72
@shuowu ,

The fix PR seems to be the solution for our Angular 7 app!
Note that I had to add `@Inject(OKTA_AUTH)` to every component where we inject an OktaAuth instance:

`@Inject(OKTA_AUTH) private oktaAuth: OktaAuth
`

On a sidenote, this issue made us aware that we should plan an upgrade to a more recent angular version better sooner than later. However our app is large and complex so this sol

[2021-12-01 22:09] shuowu commented on #72
The fix went out in v5.0 since it introduces breaking change. Closing this issue, feel free to re-open if you are still seeing the issue in v5.

[2021-12-01 22:09] #72 closed

[2021-12-07 16:17] polklabs commented on #77
@jaredperreault-okta Any updates on this?

[2021-12-07 16:42] shuowu commented on #77
@polklabs The issue might related to the mis-use of different route callbacks, here is a guideline for it:
* Set canLoad callback only for lazy loading module, it's just one time guard, once the module is loaded, the guard will not work.
* Set canActive  to protect the route, like /protected , it's the callback guard for the current route.
* Set canActiveChildren only to protect children routes, l

[2021-12-07 19:14] polklabs commented on #77
@shuowu That's not the issue.
canLoad is not the behavior that I want and canActivate/canActivateChildren produce the same behavior.

This only happens after the session and okta sessions have expired. Odd behavior is that opening the dev tools window will trigger the page to redirect to login, otherwise it just sits on a blank white page indefinitely waiting for authentication

[2021-12-14 23:27] shuowu commented on #77
@tlahav @polklabs I have identified an issue within the token auto renew process, it currently can cause unhandled promises in memory, and if error is thrown from there, it can break the following authState update.

Here is a PR (https://github.com/okta/okta-auth-js/pull/1033) to fix the issue (in okta-auth-js), can you verify the change to see if it helps with the issue you have?

[2021-12-16 17:07] tlahav commented on #77
Hey, I tested the PR locally and noticed that it worked. Although, I was not ever able to duplicate the issue on demand so I do cant tell for certain that this fixed the problem.

[2021-12-16 17:09] tlahav commented on #77
I wanted to echo this as we've experienced that as well. In fact, I believe it's not the opening of the DevTools but actually the resizing of the View window that triggers the forward to the okta log in page.

[2021-12-16 18:00] polklabs commented on #77
Having some trouble getting the code to test the PR locally. But I believe I've been seeing the exact same issue as tlahav.
I also noticed that is was a window resize that triggers it, but I was unable to trigger the resize programmatically. So my current work around is a button on the page that triggers a complete page refresh.

[2022-01-28 01:49] dbrink opened #85 "Redirect Uris no longer include baseHref."
## I'm submitting a:

- [x] Bug report
- [ ] Feature request
- [ ] Other (Describe below)

## Current behavior
If an angular app is built with a baseHref, redirect Uris for signin and singout are not relative to this path when using OktaAuthGuard or signInWithRedirect.

## Expected behavior

In v3 the redirect Uris we're built using prepareExternalUrl which added the baseHef.  This appears to have

[2022-01-28 10:27] oleksandrpravosudko-okta commented on #85
Thanks for the report @dbrink.

We will have this investigated and fixed.
Internal ref: OKTA-465065

[2022-02-10 05:04] mraible opened #86 "Publish an Ivy distribution"
## I'm submitting a:

- [ ] Bug report
- [x] Feature request
- [ ] Other (Describe below)

## Current behavior

When you build an Angular 13 app with the Okta SDK, it advises you to publish an Ivy distribution.

[code]

## Expected behavior

There are no warnings when using Angular 13.

## Minimal reproduction of the problem with instructions

Create an Angular 13 app, add Okta, run `npm build`.

[2022-02-10 10:39] oleksandrpravosudko-okta commented on #86
Thanks for the report @mraible.

Internal ref: OKTA-469350

[2022-03-02 12:15] Angelotas opened #88 "Object.OktaAuthModule_Factory - Error: inject() must be called from an injection context"
### Describe the bug?

I have an Angular Elements based application (building web components through Angular) where I implemented okta authentication using the angular `ng add @oktadev/schematics` scheme. If I run the component standalone no problem, but when I try to import it into another Angular app it throws the following error.
![image](https://user-images.githubusercontent.com/18513790/15635

[2022-03-02 14:57] jaredperreault-okta commented on #88
Thank you for the report! We will look into this.

Internal Ref: OKTA-475810

[2022-03-02 15:43] Angelotas commented on #88
Thanks @jaredperreault-okta.

For the record, I kept looking for a solution and found that when I import Okta into an Angular 12 element instead of Angular 13 element, there is no problem when I inject it into an Angular 13 app.

[2022-03-03 11:22] Angelotas commented on #88
Hi @jaredperreault-okta.

I found the problem! I was related with Module Federation Plugin. When I load the Angular Element component into another Angular app, I'm using module federation and since both are using same version of Angular (specifically 13), I had to indicate that my Angular Element needs and singleton instance of Angular:

**webpack.config.js**
[code]

So I avoid `Error: NG0203: inj

[2022-03-03 11:22] #88 closed

[2022-05-26 21:11] nathaniellee87 opened #94 "OktaAuthStateService.authState does not correctly reflect user's state when user is authenticated but not authorized"
### Describe the bug?

OktaAuthStateService.authState does not correctly reflect user's state when user is authenticated but not authorized.  The OktaAuthStateService.authState.isAuthenticated member has the value of false and OktaAuthStateService.authState..idToken is undefined after the user has successfully logged in and been authenticated.  However, the user is not authorized and receives the

[2022-05-27 00:24] aarongranick-okta commented on #94
@nathaniellee87 Thank you for the report. As I understand it, the behavior you are describing is working as designed. This SDK is designed for OIDC applications, and there is no fine-grained distinction between being authenticated with Okta (having an SSO session), vs. having valid tokens in the application. Valid OAuth tokens (id_token and access_token) is the definition of `isAuthenticated` as f

[2022-08-03 23:14] krkc opened #97 "Query params are stripped by canLoad guards when user isn't authenticated"
### Describe the bug?

Same problem/fix needed as this:
https://github.com/damienbod/angular-auth-oidc-client/issues/1409

And related to this:
https://github.com/angular/angular/issues/30633

While using the canLoad guards the query parameter info is lost when there's no auth state in the storage.
This is because the persisted url only uses the route's segments.

### What is expected to happen?

[2022-08-04 17:09] jaredperreault-okta commented on #97
Thank you for the thorough report!

Internal Ref: OKTA-521161

[2022-08-12 07:11] #97 closed

[2022-08-25 04:00] r-kotagudem opened #101 "Does this angular library support server side rendering using angular universal?"
### Describe the feature request?

Does this angular library support server side rendering using angular universal?

### New or Affected Resource(s)

Does this angular library support server side rendering using angular universal?

### Provide a documentation link

_No response_

### Additional Information?

_No response_

[2022-08-25 04:03] mraible commented on #101
No. Our Okta Auth JS library has server-side support. https://github.com/okta/okta-auth-js#node-js-and-react-native-usage

[2022-08-27 15:46] trie-me commented on #86
Still present in Angular 14, more warnings:

[code]
Also of note, the auth chunk with okta sign in widget is larger than the rest of the application, can't be optimized or tree shaken:

[code]

[2022-09-06 02:44] samartomar commented on #86
Please help us with updated lib. this is the only lib now still not in IVY.

- @okta/okta-angular [es2015/esm2015] (https://github.com/okta/okta-angular)
DeprecationWarning: 'getMutableClone' has been deprecated since v4.0.0. Use an appropriate `factory.update...` method instead, use `setCommentRange` or `setSourceMapRange`, and avoid setting `parent`.
Encourage the library authors to publish an I

[2022-09-15 18:10] Kilowhisky opened #104 "Readme is incorrect for OktaAuthStateService"
### Describe the bug?

https://github.com/okta/okta-angular#oktaauthstateservice

At this URL it appears that the component references a service that was not imported in the constructor.

The service also provided does not contain the methods mentioned in the documentation.

### What is expected to happen?

nothing

### What is the actual behavior?

readme incorrect.

### Reproduction Steps?

its

[2022-09-15 18:43] denysoblohin-okta commented on #86
@samartomar What exact Angular version do you use and typescript version?

[2022-10-04 16:19] mraible opened #107 "Upgrading Angular sample from 5.2.0 to 6.0.0 results in a compilation error"
### Describe the bug?

When upgrading from Okta Angular 5.2.0 to 6.0.0, there is a compilation error.

[code]

Code:

[code]

See https://github.com/okta-samples/okta-angular-sample/pull/564.

### What is expected to happen?

Compilation succeeds.

### What is the actual behavior?

Compilation fails.

### Reproduction Steps?

Install the Okta CLI and run the following commands:

[code]

### SDK Ve

[2022-10-05 16:33] denysoblohin-okta commented on #107
Please do a type cast to `IDToken`
[code]
as described in readme
https://github.com/okta/okta-auth-js#usage-with-typescript

[2022-10-05 17:02] #107 closed

[2022-10-17 09:24] gkumardminc opened #109 "TypeError: Cannot read properties of undefined (reading '_oktaUserAgent')"
### Describe the bug?

Hi Team, followed the documentation, but hard to say that butld is failing with the result of below error:
**TypeError: Cannot read properties of undefined (reading '_oktaUserAgent')**

Document I followed:
[https://www.npmjs.com/package/@okta/okta-angular](https://www.npmjs.com/package/@okta/okta-angular)

Angular version: **14.2.6**
NodeJs: **16**

Code: **app.module.ts**

[2022-10-17 12:30] denysoblohin-okta commented on #109
Try to rename `authClient` to `oktaAuth` :

[code]

[2022-10-17 17:42] gkumardminc commented on #109
Ya thank you so much.. it worked, what a silly mistake i did.. 👌😀

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: denysoblohin-okta ***@***.***>
Sent: Monday, October 17, 2022 6:00:57 PM
To: okta/okta-angular ***@***.***>
Cc: Gautam Kumar ***@***.***>; Author ***@***.***>
Subject: Re: [okta/okta-angular] TypeError: Cannot read properties of undefined (readin

[2022-10-18 14:34] #109 closed

[2022-11-09 17:22] abaran30 opened #110 "Cannot run Jest tests with okta-angular 6.0.0"
### Describe the bug?

After upgrading to okta-angular 6.0.0, although applications with Okta auth continue to work, unit tests via Jest (with jest-preset-angular) fail to run.

### What is expected to happen?

Unit tests via Jest continue to run and pass.

### What is the actual behavior?

Unit tests fail to run with the following error:

[code]

### Reproduction Steps?

1. Clone https://github.c

[2022-11-09 18:30] adbaran1 commented on #110
One workaround for this is to add `@okta/okta-angular` to `transformIgnorePatterns` in the project Jest config:
[code]
However, we're wondering if an official solution/adaptation can be applied.

[2022-11-16 12:41] boubou158 opened #111 "getKey access from OktaAuth"
### Describe the feature request?

Due to how the server infrastructure is done, it is not possible to use jwt-java-verifier library to validate the ID token/ access token on backend side since it is doing a call to okta to fetch the current public key to validate the tokens. I can't target any external API from backend side without months of setup to be done.

I am currently looking for a way to,

[2022-11-16 14:56] shuowu-okta commented on #111
@boubou158 You can access the jwk set for your oidc client via [Okta well know endpoint](https://developer.okta.com/docs/reference/api/oidc/#well-known-oauth-authorization-server), check the `jwks_uri` field in the response.

[2022-11-16 15:30] boubou158 commented on #111
@shuowu-okta thanka for your reply.
Okta well know endpoint will only return me the url isn't it?
Is there any method which is doing directly the call in okta angular? I can see the method getKey in okta auth js but it does not seem to be exposed through okta angular.
Also, do you know if it would be a bad security practice to fetch the public key from front end, pass it to the backend and validat

[2022-11-18 17:48] jaredperreault-okta commented on #111
token validation should not be performed on the frontend (client side) nor should requests public keys. These operations are intended to be server-to-server

[2022-11-18 18:07] jaredperreault-okta commented on #110
Thanks for the report, we will investigate this

Internal Ref: OKTA-551971

[2022-11-29 09:05] boubou158 opened #112 "Getting notified when the OKTA global session is not valid anymore"
### Describe the feature request?

Hello,

So far, except if I am missing something, the only way to be notified that the OKTA global session is not valid anymore is to use

`
this.oktaAuth.start();
const signin = await this.oktaAuth.signInWithCredentials({username: 'myUser', password: 'myPwdUser'});
const tokens = (await this.oktaAuth.token.getWithoutPrompt({sessionToken: signin.sessionToken})).t

[2022-11-29 10:49] kaluginserg opened #113 "Supporting angular version 15"
### Describe the feature request?

The new version of angular is released (https://blog.angular.io/angular-v15-is-now-available-df7be7f2f4c8 ).

Problem: Projects that have already been updated to the new version of Angular can't use the current version of the library.

Currently, in the description of the library, we have such text:
``` This library has been tested for compatibility with the foll

[2022-11-29 11:50] oleksandrpravosudko-okta commented on #112
Please note that by default `authState.isAuthenticated` value doesn't include a state of Okta session. You can modify it using [`transformAuthState`](https://github.com/okta/okta-auth-js/blob/master/README.md#transformauthstate) callback to check if session is still valid. You could set your token(s) lifetime equal to session duration in Okta Admin panel to get notification when session expires.

[2022-11-29 11:56] oleksandrpravosudko-okta commented on #113
Thanks for report @kaluginserg. Documentation will be updated.
Internal Ref: OKTA-553002